body {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 20px;
    color: #434345;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    color: #434345;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: normal;
}
h3.callout {
      font-size: 104px;
      line-height: 111px;
      text-align: center;
}
.row {
    width: 80%;
    padding: 0 0 30px 0;
}
p {
    text-align: justify;
}
p.callout {
    width: 473px;
    margin: 30px auto 0;
    padding: 20px;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
}
#jobs2, #jobs1 {
    display: none;
}


.parallax-background {
    background: url('https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?q=75&fm=jpg&s=478a9a2196033db7c0bf3c8ba3707f4d');
	/* background-color: #0078A0; */
    background-size: contain;
    background-position: 0px -33px;
	height: 620px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}

.intro-text h1{
	color: #f5f5f5;
	text-align: center;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 20px;
}
.intro-text h2{
	color: #f5f5f5;
	text-align: center;
    font-weight: bold;
    font-style: italic;
    clear: both;
}
#bio {
    width: 200px;
    margin: 0 auto;
}
.avatar {
    display: block;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
    width: 65px;
    height: 65px;
    line-height: 0;
    background-size: cover;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    border: 2px solid #FFF;
}
.contact_options {
    margin: 0 auto;
    width: 93px;
    display: block;
    clear: both;
    text-align: center;
}
.contact_options li {
    list-style: none;
    float: left;
    margin-right: 6px;
}
.contact_options li img {
    width: 25px;
    height: 25px;
}




.parallax-content {
	max-width: 100%;
	position: relative;
	top: 300px;
	padding: 50px;
	font-size: 20px;
	background-color: #f5f5f5;
}  
.black_gradient {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 100px;
    pointer-events: none;
    opacity: .5;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.white_gradient {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 100px;
    pointer-events: none;
    opacity: .3;
    background: -moz-linear-gradient(top,  rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,0)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

#experience {
    padding-bottom: 10px;
}
#experience h3 {
    text-align: center;
}

#work {
    margin-top: 510px;
}
#work h3 {
    text-align: center;
}
#work p.callout {
    width: auto;
}
.scene h4 {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: #7e7e83;
      position: relative;
      top: 1px;
}


.achievements {
  font-size: 11px;
  margin: 14px 10px 0;
  background: #434345;
  border-radius: 6px;
  color: #f5f5f5;
  padding: 10px;
  width: 303px;
  z-index: 200;
  position: relative;
  left: 0;
}
.achievements h3 {
  font-size: 12px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.7rem;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: #f5f5f5;
}
.achievements ul {
    list-style: none;
    margin: 0;
}
.achievements ul li {
    margin-bottom: 18px;
}
.achievements h5 {
  font-size: .75rem;
  font-style: normal;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
  color: #f5f5f5;
}
.achievements span {
  font-style: normal;
  font-size: 11px;
}
.achievements ul li i {
    float: left;
    margin-right: 8px;
    margin-top: 3px;
      height: 50px;
}



.seperator div {
    border-top: 1px dotted;
    margin: 20px 0;
}

#skills {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 1162px;
}
#skills li {
    width: 290px;
    overflow: hidden;
    padding-top: 110px;
}
#skills li hr {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    border: 0;
    border-bottom: 1px dashed;
}
.pie-chart {
    height: 260px;
    width: 260px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.pie-chart .label {
    color: #fff;
    background: none;
    position: absolute;
    color: #fff;
    background: none;
    position: absolute;
    font-weight: bold;
}
.pie-chart .label.design_label {
      top: 224px;
      left: 182px;
      color: #434345;
}
.pie-chart .label.dev_label {
      top: 326px;
      left: 149px;
      color: #434351;
}
.pie-chart .label.management_label {
      top: 255px;
     left: 42px;
}

#pieChart-active.pie-chart .label.design_label {
  top: 296px;
  left: 172px;
}
#pieChart-active.pie-chart .label.dev_label {
  top: 255px;
  left: 23px;
}
#pieChart-active.pie-chart .label.management_label {
  top: 195px;
  left: 60px;
}

#pieChart-zerista.pie-chart .label.design_label {
  top: 253px;
  left: 188px;
}
#pieChart-zerista.pie-chart .label.dev_label {
  top: 315px;
  left: 56px;
}
#pieChart-zerista.pie-chart .label.management_label {
  top: 195px;
  left: 60px;
}

#pieChart-ocm.pie-chart .label.design_label {
  top: 211px;
  left: 173px;
}
#pieChart-ocm.pie-chart .label.dev_label {
  top: 329px;
  left: 123px;
}
#pieChart-ocm.pie-chart .label.management_label {
  top: 225px;
  left: 48px;
}

#pieChart-bm.pie-chart .label.design_label {
  top: 188px;
  left: 154px;
}
#pieChart-bm.pie-chart .label.dev_label {
  top: 315px;
  left: 147px;
}
#pieChart-bm.pie-chart .label.management_label {
  top: 225px;
  left: 48px;
}


#ProtectedLink {
    display: block;
    font-size: 2rem;
    text-align: center;
    clear: both;
    margin: 20px auto 0;
    border-radius: 6px;
    text-decoration: underline;
}



#testimonials h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
} 
.quote-marks {
  font-size: 100px;
  font-family: Garamond;
  color: #777;
  line-height: 0.12;
  margin-top: 0;
  float: left;
  padding-right: 10px;
  height: 50px;
  position: relative;
  top: 24px;
  left: -10px;
}

.move-right {
  position: relative;
  text-align: right;
}

.quote {
  border-radius: 5px;
}

.quote p {
  font-weight: 300;
}

@media only screen and (max-width: 40em) {
  .quote p {
    padding-left: 20px;
  }
}

.student {
  margin-left: 0px;
  margin-bottom: 25px;
}
.student .photo {
  background-color: #ccc;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 15px;
}

.tony {
    background: url('../img/Tony.jpg');
    background-size: contain;
}
.robyn {
    background: url('../img/Robyn.jpg');
    background-size: contain;
}
.jason {
    background: url('../img/Jason.png');
    background-size: contain;
}
.student p {
  position: relative;
  top: 5px;
}
.student p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.student p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}              

.testimonial-wrap {
  float: left;
  
}  
. testimonial {
    padding: 0 20px;
}
#closing h3 {
    text-align: center;
}
#closing p.callout {
  width: 515px;
}
.dark_options {
    padding-top: 20px;
}

footer {
  background: #434345;
  color: #f5f5f5;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  font-size: 11px;
  text-align: center;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 1215px){
    .row {
        width: 100%;
    }
	#jobs, #skills {
		display: none;
	}
    #jobs2, #jobs1 {
          display: block;
        border-bottom: 1px dotted;
        margin-bottom: 20px;
    }
    .achievements {
        width: 100%;
        font-size: 11px;
        background: transparent;
        color: #434345;
        /*border: 1px dotted #434345;*/
        margin: 0;
        padding: 0;
    }
    .achievements ul li {
        margin-left: 0;
    }
    #work {
      margin-top: 20px;
    }
    #experience h3 {
      margin-bottom: 30px;
      border-bottom: 1px dotted;
      padding-bottom: 30px;
    }
    .year {
      font-size: 11px;
      color: #7e7e83;
      display: block;
      line-height: 1.8;
      margin-bottom: 10px;
    }
    .achievements h3 {
        color: #434345;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .achievements h5 {
        color: #434345;
        font-size: .85rem;
        font-weight: bold;
    }
    .achievements span {
          font-size: 11px;
    }
    .student {
        margin-bottom: 0;
    }
    .student a {
        color: #fff;
        text-decoration: underline;
    }
    .student p:nth-child(3) {
      color: #f5f5f5;
    }
    .testimonial-wrap .row .testimonial {
        background: #434345;
        border-radius: 6px;
        color: #f5f5f5;
    }
    .job_content p {
        display: none;
    }
    
}

#jobs1 h1, #jobs2 h1 {
    font-size: 1.7rem;
    font-weight: bold;
    font-style: normal; 
}
#jobs1 h4, #jobs2 h4 {
    font-size: 1rem;
}
#jobs1 p, #jobs2 p {
    font-size: .75rem;
}


@media screen and (max-width: 640px){
    #jobs1 {
          padding-bottom: 0;
    }
    .job_content {
        border-bottom: 1px dotted;
        margin-bottom: 1rem;
    }
    .achievements h1 {
          font-size: 1.4rem;
    }
    .achievements h3 {
      color: #434345;
      font-size: 13px;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    #jobs2, #jobs1 {
      display: block;
      border-bottom: none;
      margin-bottom: 0; 
    }
    #jobs1 h1, #jobs2 h1 {
      font-size: 1.2rem;
    }
    h3.callout {
      font-size: 3rem;
      line-height: normal;
      text-align: center;
    }
    p.callout {
        width: 100%;
    }
    #closing p.callout {
      width: 100%;
    }
    .testimonial-wrap .row .testimonial {
        background: #434345;
        border-radius: 6px;
        color: #f5f5f5;
    }
    .student p:nth-child(3) {
        color: #f5f5f5;
    }
    .achievements h5 {
      color: #434345;
      font-size: .75rem;
      font-weight: bold;
    }
    #experience h3 {
      margin-bottom: 30px;
      border-bottom: 1px dotted;
      padding-bottom: 30px;
    }
}


/*************************************
Protected Work
**************************************/
#protected h1 {
      background: rgba(243, 243, 23, .6);
      font-family: 'Playfair Display', serif;
      font-weight: 700;
      font-style: normal;
      color: #434345;
      padding-left: 20px;
      margin: 20px 0;
}
#protected p {
    text-align: inherit;
    padding: 0 30px;
}
figure.effect-duke h2 {
      font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: normal;
  color: #FFF;
  text-transform: none;
  background: rgba(243, 243, 23, .6);
-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}

