body {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 20px;
    color: #393939;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #393939;
}
.row {
    width: 70%;
    padding: 0 0 30px 0;
}
p {
    text-align: justify;
}


.parallax-background {
    background: url('https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?q=75&fm=jpg&s=478a9a2196033db7c0bf3c8ba3707f4d');
	/* background-color: #0078A0; */
    background-size: contain;
    background-position: 0px -200px;
	height: 620px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}

.intro-text h1{
	color: #FFF;
	text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.intro-text h2{
	color: #FFF;
	text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    clear: both;
}
#bio {
    width: 200px;
    margin: 0 auto;
}
.avatar {
    display: block;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
    width: 65px;
    height: 65px;
    line-height: 0;
    background-size: cover;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    border: 2px solid #FFF;
}
.contact_options {
    margin: 0 auto;
    width: 93px;
    display: block;
    clear: both;
    text-align: center;
}
.contact_options li {
    list-style: none;
    float: left;
    margin-right: 6px;
}
.contact_options li img {
    width: 25px;
    height: 25px;
}


.parallax-content {
	max-width: 100%;
	position: relative;
	top: 300px;
	padding: 50px;
	font-size: 20px;
	background-color: #f5f5f5;
}              
.quote-marks {
  font-size: 100px;
  font-family: Garamond;
  color: #777;
  line-height: 0.12;
  margin-top: 40px;
}

.move-right {
  position: relative;
  text-align: right;
}

.quote {
  border-radius: 5px;
}

.quote p {
  font-weight: 300;
}

@media only screen and (max-width: 40em) {
  .quote p {
    padding-left: 20px;
  }
}

.student {
  margin-left: 25px;
  margin-bottom: 25px;
}
.student .photo {
  background-color: #ccc;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 15px;
}
.tony {
    background: url('../img/Tony.jpg');
    background-size: contain;
}
.robyn {
    background: url('../img/Robyn.jpg');
    background-size: contain;
}
.jason {
    background: url('../img/Jason.png');
    background-size: contain;
}
.student p {
  position: relative;
  top: 5px;
}
.student p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.student p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}              

.testimonial-wrap {
  float: left;
  max-width: 350px;
}              

.left-off-canvas-toggle {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background: #FFF;
    color: #000;
    font-weight: bold;
    z-index: 1;
}

