/* ------ SASS Globals ------ */
$Creepster: 'Creepster', cursive;
$WorkSans: 'Work Sans', sans-serif;
$lightblue: #A1D6C5;
$midblue: #0A5368;
$darkblue: #032430;
$peach: #FECD98;
$purple: #AF7D94;
$red: #EC7970;

/* ------ Basic Globals ------ */
body {
	background: $peach;
	font-family: $WorkSans;
}
h1 {
	font-family: $Creepster;
	color: $darkblue;
	font-size: 6em;
}
h2 {
	font-family: $Creepster;
	color: $red;
}
h3 {
	margin-bottom: 2em;
}

.title {
	margin-top: 2em;
    text-align: center;
    height: 100vh;
}
.horns {
	text-align: center;
}
.horns svg {
	max-width: 30%
}
.campfire {
	text-align: center;
	margin-top: 4em; 
}
.campfire img { 
	max-width: 30%
}
.container-fluid.contact {
	margin-top: 3em;
    background: $red;
    padding: 4em;
}
#contact-form {
	    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}
.contact {
	text-align: center;
}
.form-control {
	background: $peach;
}
.ajax-response {
	font-family: $Creepster;
	font-size: 2em;
	color: $darkblue;
}
.btn {
	font-family: 'Creepster', cursive;
	font-size: 3em;
	background: $darkblue;
	color: #FECD98;
	padding: 8px;
}
.btn:hover {
	color: $peach;
}
.horns .cls-1 {
	transition: all 3s;
}
.horns:hover .cls-1 {
	fill: $red;
	transition: all 3s;
}

/* ------ Resources ------ */
#resources a {
	color: $red;
}
.resources {
	max-width: 800px;
	margin-top: 4em;
}
.resources .row {
	margin-bottom: 2em;
}
.resources h3 {
	margin-bottom: .5em;
	text-align: right;
}
.resources a {
	color: $red;
}
.resources li {
	font-size: 1.1em;
}

/* ------ Media Queries ------ */

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 4em;
  }
  #contact-form {
  	max-width: 100%;
  }
  .horns svg, .campfire img {
	max-height: 100%;
  }
}
@media only screen and (max-width: 800px) {
	.resources h3 {
		text-align: left;
	}
	.resources ul {
		padding-left: 1.6em;
	}
}
@media only screen and (max-width: 500px) {
  .title h1 {
    font-size: 3em;
  }
  .title h2 {
  	font-size: 1em;
  }
  .horns {
  	margin-top: 3em;
  }
  .horns svg {
	max-width: 80%
  }
  .campfire img {
  	max-width: 100%;
  }
}