/* ------ SASS Globals ------ */
$Creepster: 'Creepster', cursive;
$WorkSans: 'Work Sans', sans-serif;
$lightblue: #A1D6C5;
$midblue: #0A5368;
$darkblue: #032430;
$peach: #FECD98;
$purple: #AF7D94;
$red: #EC7970;

/* ------ Color Schemes ------ */

@mixin color ($background, $color) {
  background: $background;
  color: $color;
}

.peachPallete {
    @include color($peach, $darkblue);
    h2 {
    	color: $red;
    }
    a {
    	color: $red;
   		:hover {
   			color: $peach;
   		}
    }
    .btn {
    	background: $darkblue;	
    }
    .btn:hover {
		color: $peach;
	}
	transition: all 3s;
}

.redPallete {
    @include color($red, $darkblue);
    h2 {
    	color: $lightblue;
    }
    a {
    	color: $peach;
   		:hover {
   			color: $purple;
   		}
    }
    .btn {
    	background: $darkblue;	
    }
    .btn:hover {
		color: $red;
	}
	transition: all 3s;
}

/* ------ Basic Globals ------ */
body {
	background: $darkblue; 
	font-family: $WorkSans;
}
h1 {
	font-family: $Creepster;
	font-size: 6em;
}
h2 {
	font-family: $Creepster;
}
h3 {
	margin-bottom: 2em;
}

/* ------ Temp Home ------ */

.title {
	padding-top: 2em;
    text-align: center;
    height: 100vh;
}
.horns {
	text-align: center;
}
.horns svg {
	max-width: 30%
}
.campfire {
	text-align: center;
	margin-top: 4em; 
}
.campfire img { 
	max-width: 30%
}
.container-fluid.contact {
    padding: 4em;
}
#contact-form {
	max-width: 60%;
    text-align: center;
    margin: 0 auto;
}
.contact {
	text-align: center;
}
.ajax-response {
	font-family: $Creepster;
	font-size: 2em;
	color: $darkblue;
}
.btn {
	font-family: 'Creepster', cursive;
	font-size: 3em;

	color: #FECD98;
	padding: 8px;
}
.horns .cls-1 {
	transition: all 3s;
}
.horns:hover .cls-1 {
	fill: $red;
	transition: all 3s;
}

/* ------ Resources ------ */

.resources {
	max-width: 800px;
	margin-top: 4em;
}
.resources .row {
	margin-bottom: 2em;
}
.resources h3 {
	margin-bottom: .5em;
	text-align: right;
}
.resources li {
	font-size: 1.1em;
}

/* ------ Semplice Overrides ------ */


.blog .title-meta-date {
  display: none;
}

.blog .post-heading h4 a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
} 

.blog #wpsp-26 .post:nth-child(1) {
    color: $darkblue;
    background: $peach;
} 
.blog #wpsp-26 .post:nth-child(2) {
    color: $darkblue;
    background: $lightblue;
} 
.blog #wpsp-26 .post:nth-child(3) {
    color: $darkblue;
    background: $lightblue;
} 
.blog #wpsp-26 .post:nth-child(4) {
    color: $red;
    background: $darkblue;
} 
.blog #wpsp-26 .post:nth-child(5) {
    color: $purple;
    background: $peach;
} 
.blog #wpsp-26 .post:nth-child(6) {
    color: $peach;
    background: $purple;
} 

/* ------ Media Queries ------ 

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 4em;
  }
  #contact-form {
  	max-width: 100%;
  }
  .horns svg, .campfire img {
	max-height: 100%;
  }
}
@media only screen and (max-width: 800px) {
	.resources h3 {
		text-align: left;
	}
	.resources ul {
		padding-left: 1.6em;
	}
}
@media only screen and (max-width: 500px) {
  .title h1 {
    font-size: 3em;
  }
  .title h2 {
  	font-size: 1em;
  }
  .horns {
  	margin-top: 3em;
  }
  .horns svg {
	max-width: 80%
  }
  .campfire img {
  	max-width: 100%;
  }
}
*/