/* ------ SASS Globals ------ */
$Creepster: 'Creepster', cursive;
$WorkSans: 'Work Sans', sans-serif;
$lightblue: #A1D6C5;
$midblue: #0A5368;
$darkblue: #032430;
$peach: #FECD98;
$purple: #AF7D94;
$red: #EC7970;

/* ------ Color Schemes ------ */

@mixin color ($background, $color) {
  background: $background;
  color: $color;
}

.peachPallete {
    @include color($peach, $darkblue);
    h2 {
    	color: $red;
    }
    a {
    	color: $red;
   		:hover {
   			color: $peach;
   		}
    }
    .btn {
    	background: $darkblue;	
    }
    .btn:hover {
		color: $peach;
	}
	transition: all 3s;
}

.redPallete {
    @include color($red, $darkblue);
    h2 {
    	color: $lightblue;
    }
    a {
    	color: $peach;
   		:hover {
   			color: $purple;
   		}
    }
    .btn {
    	background: $darkblue;	
    }
    .btn:hover {
		color: $red;
	}
	transition: all 3s;
}

.purplePallete {
    @include color($purple, $darkblue);
    h2 {
      color: $lightblue;
    }
    a {
      color: $peach;
      :hover {
        color: $lightblue;
      }
    }
    .btn {
      background: $darkblue;  
    }
    .btn:hover {
    color: $lightblue;
  }
  transition: all 3s;
}

/* ------ Basic Globals ------ */
body {
	background: $darkblue; 
	font-family: $WorkSans;
}
h1 {
	font-family: $Creepster;
	font-size: 6em;
}
h2 {
	font-family: $Creepster;
}
h3 {
	margin-bottom: 2em;
}

/* ------ Temp Home ------ */

.title {
	padding-top: 2em;
    text-align: center;
    height: 100vh;
}
.horns {
	text-align: center;
}
.horns svg {
	max-width: 30%;
}
.campfire {
	text-align: center;
	margin-top: 4em; 
}
.campfire img { 
	max-width: 30%
}
.container-fluid.contact {
    padding: 4em;
}
#contact-form {
	max-width: 60%;
    text-align: center;
    margin: 0 auto;
}
.contact {
	text-align: center;
}
.ajax-response {
	font-family: $Creepster;
	font-size: 2em;
	color: $darkblue;
}
.btn {
	font-family: 'Creepster', cursive;
	font-size: 3em;

	color: #FECD98;
	padding: 8px;
}
.horns .cls-1 {
	transition: all 3s;
}
.horns:hover .cls-1 {
	fill: $red;
	transition: all 3s;
}

/* ------ Resources ------ */

.resources {
	max-width: 800px;
	margin-top: 4em;
}
.resources .row {
	margin-bottom: 2em;
}
.resources h3 {
	margin-bottom: .5em;
	text-align: right;
}
.resources li {
	font-size: 1.1em;
}

/* ------ Semplice Overrides ------ */

#content-18 #section_lfjrzabwg .container {
    max-width: 1230px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 0 0 36px;
}
#content-18 #section_2083d9742 {
    background-color: $darkblue;
}
#content-18 #section_2083d9742 {
    background-color: $darkblue;
}
#content-18 #section_2083d9742 .content_c837ee268 div span strong {
  font-family: $Creepster;
}

.page-id-18 #wpsp-26 .post h4 a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
} 

.page-id-18 #wpsp-26 .post .wp-show-posts-inner {
  margin: 2em;
}

.page-id-18 #wpsp-26 .post h4 a {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.8rem;
}

.page-id-18 #wpsp-26 .post {
    background: $purple;
}
.page-id-18 #wpsp-26 .post h4 a,
.page-id-18 #wpsp-26 .post p {
    color: $midblue;
} 




.page-id-18 #wpsp-26 .post:nth-child(2n) {
    background: $red;
}
.page-id-18 #wpsp-26 .post:nth-child(2n) h4 a,
.page-id-18 #wpsp-26 .post:nth-child(2n) p {
    color: $peach;
}

.page-id-18 #wpsp-26 .post:nth-child(3n) {
    background: $lightblue;
} 
.page-id-18 #wpsp-26 .post:nth-child(3n) h4 a,
.page-id-18 #wpsp-26 .post:nth-child(3n) p {
    color: $darkblue;
}


.page-id-18 #wpsp-26 .post:nth-child(11n) {
    background: $peach;
} 
.page-id-18 #wpsp-26 .post:nth-child(11n) h4 a,
.page-id-18 #wpsp-26 .post:nth-child(11n) p {
    color: $purple;
}


.page-id-18 #wpsp-26 .post:nth-child(7n) {
    background: $peach;
} 
.page-id-18 #wpsp-26 .post:nth-child(7n) h4 a,
.page-id-18 #wpsp-26 .post:nth-child(7n) p {
    color: $darkblue;
}


.page-id-18 #wpsp-26 .post:nth-child(6n) {
    background: $purple;
} 
.page-id-18 #wpsp-26 .post:nth-child(6n) h4 a,
.page-id-18 #wpsp-26 .post:nth-child(6n) p {
    color: $peach;
}


.page-id-18 #wpsp-26 .post:nth-child(5n) {
    background: $midblue;
} 
.page-id-18 #wpsp-26 .post:nth-child(5n) h4 a,
.page-id-18 #wpsp-26 .post:nth-child(5n) p {
    color: $red;
}


.page-id-18 #wpsp-26 .post:nth-child(4n) {
    background: $darkblue;
} 
.page-id-18 #wpsp-26 .post:nth-child(4n) h4 a,
.page-id-18 #wpsp-26 .post:nth-child(4n) p {
    color: $red;
}


.page-id-18 #wpsp-26 .post:nth-child(-n+1) {
    background: $peach;
}
.page-id-18 #wpsp-26 .post:nth-child(-n+1) h4 a, 
.page-id-18 #wpsp-26 .post:nth-child(-n+1) p {
    color: $darkblue;
}


/* ------ Home ------ */

#content-7 #section_db85fe234 {
    background-color: #032430;
    padding: 2em 0;
}
#row_e2adbd2cc span.inter_bold {
  font-family: $Creepster;
  letter-spacing: 0 !important;
}

/* ------ Home Testimonials ------ */

#content_8777b8310 .is-content p a span span {
  font-family: $Creepster;
}

/* ------ Footer ------ */

.contact .form-control {
    font-size: 1.4em;
    min-height: 2.4em;
}
.contact label {
    float: left;
    font-family: Creepster;
    font-size: 2em;
}
.contact button {
    width: 100%;
    border: none;
}
.contact_subtext {
  max-width: 60%;
  margin: 0 auto;
}
/* ------ Cover ------

.cover {
  text-align: left;
  height: 100vh;
}
.brand h1 {
  font-size: 8em;
}
.brandStatement {
  position: absolute;
  bottom: 32vh;
}
.brandStatement p {
  font-size: 1.4em;
  max-width: 50vw;
}

.coverCampfire {
  max-width: 30%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 40vh;
  right: 0;

}
*/
/* ------ Media Queries ------*/

@media only screen and (max-width: 600px) {
  #content-18 #section_lfjrzabwg .container {
    padding: 0;
  }
  .page-id-18 #wpsp-26 .post {
    padding: 0 1.2rem;
  }
}


/*

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 4em;
  }
  #contact-form {
  	max-width: 100%;
  }
  .horns svg, .campfire img {
	max-height: 100%;
  }
}
@media only screen and (max-width: 800px) {
	.resources h3 {
		text-align: left;
	}
	.resources ul {
		padding-left: 1.6em;
	}
}
@media only screen and (max-width: 500px) {
  .title h1 {
    font-size: 3em;
  }
  .title h2 {
  	font-size: 1em;
  }
  .horns {
  	margin-top: 3em;
  }
  .horns svg {
	max-width: 80%
  }
  .campfire img {
  	max-width: 100%;
  }
}
*/