.showcase-content-container
{
	padding-top: 10px;
}

.showcase-content
{
	background-color: inherit;
	text-align: center;
	overflow: visible !important;
}
.showcase-content video {
	background: transparent;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	margin-top: 134px;
}
.showcase-content video source {
	background: transparent;
	-webkit-filter: blur(0px);
	filter: blur(0px);
}
.showcase-onepage .static-caption
{
	background-color: #dfdfdf;
	color: #333;
}

/* Navigation arrows */
.showcase-arrow-previous, .showcase-arrow-next
{
	z-index: 20;
}

.showcase-arrow-previous
{
	left: 30px;
	width: 125px;
	height: 200px;
	background: url('../img/btn_back.gif') no-repeat;
	position: absolute;
	top: 454px;
}
.showcase-arrow-next
{
	right: 30px;
	width: 125px;
	height: 200px;
	background: url('../img/btn_next.gif') no-repeat;
	position: absolute;
	top: 454px;
}

.showcase-button-wrapper {
	position: relative;
	bottom: 54px;
	left: 45%;
}

.showcase-button-wrapper span {
	display: block;
	float: left;
	margin-left: 13px;
	text-indent: -9999px;
	width: 18px;
	height: 18px;
	background:#FFF;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	cursor: pointer;
}

.showcase-button-wrapper span.active {
	width: 18px;
	height: 18px;
	background:#ffc627;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

#video_2 {
	margin-top: 96px;
}
#video_3 {
	margin-top: 164px;
}
#video_4 {
	margin-top: 164px;
}
#video_6 {
	margin-top: 194px;
}


/* Thumbnails */
.showcase-thumbnail-wrapper
{
	overflow: hidden;
	margin: auto;
}

/* Caption */
.static-caption
{
	text-align: left;
	font-size: 11px;
	color: #e0e0e0;
	padding: 10px 0;
	margin: 0;
}