/*######-------------  Globals  -------------######*/
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
}
p { 
    margin: 0;
}

@font-face {
    font-family: FrutigerLTStdBlack;
    src: url(../fonts/FrutigerLTStdBlack.otf);
}
@font-face {
    font-family: FrutigerLTStdRoman;
    src: url(../fonts/FrutigerLTStdRoman.otf);
}
@font-face {
    font-family: FrutigerLTStdBold;
    src: url(../fonts/FrutigerLTStdBold.otf);
}
@font-face {
    font-family: HelveticaNeueLTStdBd;
    src: url(../fonts/HelveticaNeueLTStdBd.otf);
}
@font-face {
    font-family: HelveticaNeueLTStdRoman;
    src: url(../fonts/HelveticaNeueLTStdRoman.otf);
}
.HelveticaNeueLTStdBd {
    font-family: HelveticaNeueLTStdBd;
}

/*######-------------  Recurring  -------------######*/

.video_fullscreen {
    position: absolute;
    left: 0;
    top: 0;
}

/*######-------------  Layout  -------------######*/
.layout {
    position: relative;
    width: 1920px;
    height: 1080px;
}

/*######-------------  Yellow Attract (acttract.html)  -------------######*/
#attract {
    position: absolute;
    z-index: 300;
}
#attract #animation_in {
    
}

#attract #video_attract {
    z-index: 2;
}
#attract #animation_in {
    z-index: 1;
}

/*######-------------  Yellow Main (yellow.html)  -------------######*/

#yellow .layout {
    background: #000;
}

#presentation {
    z-index: 1;
    pointer-events: none;
}

#yellow #showcase {
    z-index: 2;
}
#yellow #bg_video {
    z-index: 0;
}

.top_title {
    position: absolute;
    top: 28px;
    left: 45px;
    text-align: left;
    color: #FFF;
    z-index: 3;
}
.top_title h3 {
    display: inline;
    font-family: FrutigerLTStdRoman;
    font-size: 28px;
    border-bottom: 1px solid #FFF;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    font-weight: normal;
}
.top_title h3 span {
    font-family: FrutigerLTStdBlack;
}
.top_title h1 {
    font-family: FrutigerLTStdBold;
    color: #ffc627;
    text-transform: uppercase;
    margin: 0;
    font-size: 50px;
}

.bottom_title {
    position: absolute;
    bottom: 128px;
    color: #FFF;
    width: 100%;
}
.bottom_title h1 {
    font-family: FrutigerLTStdBold;
    color: #ffc627;
    text-transform: uppercase;
    margin: 0 0 12px 0;
    font-size: 40px;
    line-height: 40px;
    white-space: nowrap;
}
.bottom_title h3 {
    font-family: FrutigerLTStdRoman;
    color: #FFF;
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    white-space: nowrap;
}

#btn_legal {
    position: absolute;
    left: 0;
    bottom:0;
    cursor: pointer;
    line-height: 0;
}
#legal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: #000;
    color: #FFF;
    z-index: 0;
    opacity: 0;
}
#btn_close {
    position: absolute;
    right: 14px;
    bottom: 185px;
    cursor: pointer;
}
#logo_edwards {
    position: absolute;
    top: 38px;
    left: 45px;
    z-index: 1;
}
#red_line {
    height: 2px;
    background: #ff0909;
    width: 100%;
    position: absolute;
    top: 69px;
    left: 0;
}
#legal_text {
    font-family: HelveticaNeueLTStdRoman;
    position: relative;
    top: 468px;
    left: 196px;
}
#legal_text .HelveticaNeueLTStdBd {
    margin-bottom: 9px;
}
#legal_text p {
    margin-bottom: 4px;
}

















