<div class="polling">

    <a id='close' title='close' class='x'></a>

    <div class="content">
        <a id='polling-question' class="btn-transparent" href="#" title="What is most important to your patients when starting a medication to treat their depression?">
            What is most important to your patients when starting
            <br>a medication to treat the depressive episodes
            <br>of the patient type we discussed?
        </a>

        <!--<div id='answer-title' class='answer-title'>How did your peers answer?</div>-->
        <div class="polling-options">
            <form>
                <input type="hidden" name="answer-1" id="answer-1" value='0' />
                <input type="hidden" name="answer-2" id="answer-2" value='0' />
                <input type="hidden" name="answer-3" id="answer-3" value='0' />
                <input type="hidden" name="answer-4" id="answer-4" value='0' />
                <ul>
                    <li><a id='answer-b1' class='polling-answer polling-2line' rel='1' href="#" title="Their ability to afford the medication">
                            Their ability to afford
                            <br>the medication
                        </a>
                    </li>
                    <li class="btn-2"><a id='answer-b2' class='polling-answer polling-3line' rel='2' href="#" title="The medication’s ability to cause early improvement in their depressive symptoms">
                            The medication's ability
                            <br>to cause improvement in <br>
                             their depressive episode
                        </a>
                    </li>
                    <li class="btn-3"><a id='answer-b3' class='polling-answer polling-2line' rel='3' href="#" title="The tolerability of the medication">
                            The tolerability of
                            <br>the medication
                        </a>
                    </li>
                    <li><a id='answer-b4' class='polling-answer polling-2line' rel='4' href="#" title="Their ability to adhere to the dosing schedule">
                            Their ability to adhere to
                            <br>the dosing schedule
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
