<div class="polling">

    <a id='close' title='close' class='x'></a>

    <div class="content">
        <a id='polling-question' class="btn-transparent" href="#" title="">
            What is your approach when treating patients
            <br>who continue to experience depressive episodes?
        </a>

        <div class="polling-options">
            <form>
                <input type="hidden" name="answer-1" id="answer-1" value='0' />
                <input type="hidden" name="answer-2" id="answer-2" value='0' />
                <input type="hidden" name="answer-3" id="answer-3" value='0' />
                <input type="hidden" name="answer-4" id="answer-4" value='0' />
                <ul>
                    <li><a id='answer-b1' class='polling-answer polling-3line' rel='1' href="#" title="I proceed cautiously, making sure to give the current medication enough time to work">
                        I proceed cautiously, making sure<br />
                            to give the current medication<br />
                            enough time to work
                        </a></li>
                    <li class="btn-2"><a id='answer-b2' class='polling-answer polling-2line' rel='2' href="#" title="I usually increase the dosage of the current medication">
                        I consider adjusting the dose
                        <br>within the recommended dose range
                        </a></li>
                    <li class="btn-3"><a id='answer-b3' class='polling-answer polling-3line' rel='3' href="#" title="I prefer to add an adjunctive medication that works differently or a medication from a different drug class">
                        I consider an approved adjunctive
                        <br>therapy that works differently for
                        <br>appropriate patients
                        </a></li>
                    <li><a id='answer-b4' class='polling-answer polling-3line' rel='4' href="#" title="I switch to another medication in the same class, as patients may respond differently">
                        I consider a different medication
                        <br>that is approved for the disorder,
                        <br>as patients may respond differently
                        </a></li>
                </ul>
            </form>
        </div>
    </div>
</div>
