<div class="polling">

    <a id='close' title='close' class='x'></a>

    <div class="content">
            <a id='polling-question' class="btn-transparent" href="#">
                When prescribing a medication for your patients,
                <br>how often does insurance coverage and/or prescription
                <br>cost influence which medication you choose?
            </a>

            <!--<div id='answer-title' class='answer-title'>How did your peers answer?</div>-->
            <div class="polling-options">
                <form>
                    <input type="hidden" name="answer-1" id="answer-1" value='0' />
                    <input type="hidden" name="answer-2" id="answer-2" value='0' />
                    <input type="hidden" name="answer-3" id="answer-3" value='0' />
                    <input type="hidden" name="answer-4" id="answer-4" value='0' />
                    <ul>
                        <li>
                            <a id='answer-b1' class='polling-answer polling-1line' rel='1' href="#">
                                Never
                            </a>
                        </li>
                        <li class="btn-2">
                            <a id='answer-b2' class='polling-answer polling-1line' rel='2' href="#">
                                Sometimes
                            </a>
                        </li>
                        <li class="btn-3">
                            <a id='answer-b3' class='polling-answer polling-2line' rel='3' href="#">
                                Only when a patient
                                <br>expresses a concern
                            </a>
                        </li>
                        <li>
                            <a id='answer-b4' class='polling-answer polling-1line' rel='4' href="#">
                                Always
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
</div>
