/*######-------------  Globals  -------------######*/
* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
}
p { 
    margin: 0;
}

@font-face {
    font-family: FrutigerLTStdBlack;
    src: url(../fonts/FrutigerLTStdBlack.otf);
}
@font-face {
    font-family: FrutigerLTStdRoman;
    src: url(../fonts/FrutigerLTStdRoman.otf);
}
@font-face {
    font-family: FrutigerLTStdBold;
    src: url(../fonts/FrutigerLTStdBold.otf);
}
@font-face {
    font-family: HelveticaNeueLTStdBd;
    src: url(../fonts/HelveticaNeueLTStdBd.otf);
}
@font-face {
    font-family: HelveticaNeueLTStdRoman;
    src: url(../fonts/HelveticaNeueLTStdRoman.otf);
}
@font-face {
    font-family: FrutigerLTStdItalic;
    src: url(../fonts/FrutigerLTStdItalic.otf);
}


.HelveticaNeueLTStdBd {
    font-family: HelveticaNeueLTStdBd;
}

/*######-------------  Recurring  -------------######*/

.video_fullscreen {
    position: absolute;
    left: 0;
    top: 0;
}
.hang {
    display: block;
    float: left;
    height: 300px;
    top: -4px;
    position: relative;
    left: -2px; 
}

/*######-------------  Layout  -------------######*/
.layout {
    position: relative;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

/*######-------------  Blue Attract (index.html)  -------------######*/
#attract {
    position: absolute;
    z-index: 300;
}
#attract #animation_in {
    
}

#attract #video_attract {
    z-index: 2;
}
#attract #animation_in {
    z-index: 1;
}

/*######-------------  Blue Main (blue.html)  -------------######*/

#blue .layout {
    background: #000;
}

#presentation {
    z-index: 1;
}


#blue #bg_video {
    z-index: 0;
    pointer-events: none;
}

.top_title {
    position: absolute;
    top: 28px;
    left: 45px;
    text-align: left;
    color: #FFF;
    z-index: 3;
}
.top_title h3 {
    display: inline;
    font-family: FrutigerLTStdRoman;
    font-size: 28px;
    border-bottom: 1px solid #FFF;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    font-weight: normal;
}
.top_title h3 span {
    font-family: FrutigerLTStdBlack;
}
.top_title h1 {
    font-family: FrutigerLTStdBold;
    color: #00c9c1;
    text-transform: uppercase;
    margin: 0;
    font-size: 50px;
}
.top_title p {
    font-family: FrutigerLTStdRoman;
    font-size: 28px;
}

#pane_holder {
    font-family: FrutigerLTStdRoman;
}

#pane_nav {
    position: absolute;
    top: 300px;
    left: 45px;
    width: 100%;
    height: 570px;
    pointer-events: none;
}
#pane_nav p {
    color:#ff0909;
    font-size: 21px;
}
#pane_nav ul li {
    float: left;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 45px;
    line-height: 50px;
    cursor: pointer;
    width: 430px;
    height: 570px;
    margin-right: 34px;
}
#pane_nav ul li span {
    display: block;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
}
#pane_nav ul li span img {
    margin-left: 10px;
}
#btn_pane_2 {
    margin-right: 42px !important;
}


#pane_wrapper {
    float: left;
    margin-left: 50px;
}

.pane {
    position: absolute;
    bottom: -830px;
    left: 0;
    width: 100%;
    height: 825px;
}
.pane_bg {
    background-color: rgba(0, 0, 0, 0.24);
    height: 690px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.pane_video {
    position: relative;
    left: 0;
    top: 0;
}
.pane_text {
    position: absolute;
    left: 937px;
    top: 179px;
    color: #FFF;
    width: 918px;
}
.pane_text h1 {
    font-size: 45px;
    font-weight: normal;
    margin-top: 0;
    color: #00c9c1;
    text-transform: uppercase;
}
.pane_text ul li {
    float: left;
    font-size: 28px;
    margin-bottom: 12px;
    clear: both;
}
.pane_text ul li span {
    display: block;
    color: #00c9c1;
    float: left;
    height: 100%;
    margin-right: 10px;
}
.pane_text ul li p {
    float: left;
}
.pane_text .note {
    font-size: 22px;
    display: block;
    margin-top: 267px;
    clear: both;
}
.pane_text .note I {
    font-family: FrutigerLTStdItalic;
}
.pane_text .btn_pane_close {
    float: right;
    cursor: pointer;
    height: 100px;
    width: 200px;
    text-align: center;
}
.pane_text .btn_pane_close img {
    position: relative;
    top: 36px;
    left: 36px;
}
#video_4 {
    top: -248px;
}
#pane_4 .note .hang {
    height: 52px;
}

#btn_legal {
    position: absolute;
    left: 0;
    bottom:0;
    cursor: pointer;
    line-height: 0;
}
#legal {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: #000;
    color: #FFF;
    z-index: 0;
    opacity: 0;
}
#btn_close {
    position: absolute;
    right: 14px;
    bottom: 185px;
    cursor: pointer;
}
#logo_edwards {
    position: absolute;
    top: 38px;
    left: 45px;
    z-index: 1;
}
#red_line {
    height: 2px;
    background: #ff0909;
    width: 100%;
    position: absolute;
    top: 69px;
    left: 0;
}
#legal_text {
    font-family: HelveticaNeueLTStdRoman;
    position: relative;
    top: 468px;
    left: 196px;
}
#legal_text .HelveticaNeueLTStdBd {
    margin-bottom: 9px;
}
#legal_text p {
    margin-bottom: 4px;
}



















